<div style="background:#f2f2f2;box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);">
	<el-col :span="24" class="line" style="margin-bottom: 7.5px;">
		<el-row>
		  <el-col :span="17"><strong class="title">角色权限管理</strong></el-col>
		  
		  <el-col :span="6">
			  <el-input placeholder="搜索..." v-model="keyword" class="input-with-select" >
			  </el-input>
		  </el-col>
		  <el-col :span="1">
		  	<i class="fa fa-search-plus" @click.prevent="search"></i>
		  </el-col>
		</el-row>
	</el-col>
	<el-col :span="24" id="menu" style="background:#fff;">
		<el-tabs style="padding:0 20px;">
	    	<el-tab-pane v-for="item in groupTypeData" :label="item.name" :name="item.code">
	    		<router-view :id="item.id"></router-view>
	    	</el-tab-pane>
		</el-tabs>
	</el-col>
	<el-dialog title="编辑用户" :visible.sync="editUserVisible" width="60%">
	  <el-form label-width="180px" size="mini" style="margin-top:1em;">
	  <el-form-item label="账号" >
	      <el-input v-model="form.username" disabled style="width: 350px;" placeholder="账号" ></el-input>
	  </el-form-item>
	  <el-form-item label="姓名" >
	    <el-input v-model="form.name" style="width: 350px;" placeholder="姓名"></el-input>
	  </el-form-item>
	  <el-form-item label="昵称" >
	      <el-input v-model="form.nickname" disabled style="width: 350px;" placeholder="昵称" ></el-input>
	  </el-form-item>
	  <el-form-item label="性别" >
	      <el-input v-model="form.sex" style="width: 350px;" placeholder="性别" ></el-input>
	  </el-form-item>
	  <el-form-item label="邮箱地址" >
	      <el-input v-model="form.email" style="width: 350px;" placeholder="邮箱地址" ></el-input>
	  </el-form-item>
	  <el-form-item label="是否有效" >
	      <el-switch
			  style="display: block"
			  v-model="form.status"
			  active-color="#13ce66"
			  inactive-color="#ff4949">
			</el-switch>
	  </el-form-item>
	  <el-form-item label="描述" >
	      <el-input v-model="form.description" style="width: 350px;" type="textarea" placeholder="描述" ></el-input>
	  </el-form-item>
	</el-form>
	<span slot="footer" class="dialog-footer">
	    <el-button @click="editUserVisible = false">取 消</el-button>
	    <el-button type="primary" @click="editUserInfo">保存</el-button>
	 </span>
	</el-dialog>
	
	<el-dialog title="创建用户" :visible.sync="addUserVisible" width="60%">
	  <el-form label-width="180px" size="mini" style="margin-top:1em;">
	  <el-form-item label="账号" >
	      <el-input v-model="form.username" disabled style="width: 350px;" placeholder="账号" ></el-input>
	  </el-form-item>
	  <el-form-item label="姓名" >
	    <el-input v-model="form.name" style="width: 350px;" placeholder="姓名"></el-input>
	  </el-form-item>
	  <el-form-item label="昵称" >
	      <el-input v-model="form.nickname" disabled style="width: 350px;" placeholder="昵称" ></el-input>
	  </el-form-item>
	  <el-form-item label="性别" >
	      <el-input v-model="form.sex" style="width: 350px;" placeholder="性别" ></el-input>
	  </el-form-item>
	  <el-form-item label="邮箱地址" >
	      <el-input v-model="form.email" style="width: 350px;" placeholder="邮箱地址" ></el-input>
	  </el-form-item>
	  <el-form-item label="是否有效" >
	      <el-switch
			  style="display: block"
			  v-model="form.status"
			  active-color="#13ce66"
			  inactive-color="#ff4949">
			</el-switch>
	  </el-form-item>
	  <el-form-item label="描述" >
	      <el-input v-model="form.description" style="width: 350px;" type="textarea" placeholder="描述" ></el-input>
	  </el-form-item>
	</el-form>
	<span slot="footer" class="dialog-footer">
	    <el-button @click="addUserVisible = false">取 消</el-button>
	    <el-button type="primary" @click="addUserInfo">保存</el-button>
	 </span>
	</el-dialog>
</div>